{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script type="text/javascript" src="{% static '/js/script.js' %}"></script>
    <link rel="shortcut icon" href="{% static '/img/vtb_short_logo.jpeg' %}">
    <title>Новости ВТБ</title>
</head>

<header>
    <section class="logo">
        <img class="logo__pic" src="{% static '/img/logo_vtb.jpg' %}" alt="Логотип ВТБ">
        <div class="logo__text">
            <a class="text_a" href="{% url 'home' %}"><h1>Новости ВТБ</h1></a>
            <a class="text_a" href="{% url 'home' %}">Самые персонализированные новости</a>
        </div>
    </section>
    <div id="toolsbar">
        <div class="toogle-btn" onclick="openMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li>Выберите роль:</li>
            {% for item in cats %}
                {% if item.category %}
            <li><button onclick="window.location.href = '{% url 'category' item.pk  %}'">{{ item.category }}</button></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</header>
<main>
    <h1>{{ category }}:</h1>
    {% for item in news %}
    <div class="media">
        <div class="media-body">
            <img class="news__img" src="{{ item.img_news.url }}" alt="" width="10%">
            <p class="news__name"> {{ item.name }} </p>
            <p class="logo__text"> {{ item.text|truncatechars:54 }} </p>
            <p class="news__read">
                <a href="{% url 'new' item.id %}">Читать далее...</a>
            </p>
            <p class="news__date"> {{ item.date_published }} </p>
        </div>
    </div>
    {% endfor %}
</main>