{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script type="text/javascript" src="{% static '/js/script.js' %}"></script>
    <link rel="shortcut icon" href="{% static '/img/vtb_short_logo.jpeg' %}">
    <title>{{ category.category }}</title>
</head>

<header>
    <section class="logo">
        <img class="logo__pic" src="{% static '/img/logo_vtb.jpg' %}" alt="Логотип ВТБ">
        <div class="logo__text">
            <h1>{{ category.category }}</h1>
            <p>Самые персонализированные новости</p>
        </div>
    </section>
    <div id="toolsbar">
        <div class="toogle-btn" onclick="openMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li>Фильтры</li>
            <li>
                <h2>Выберите категории:</h2>
            </li>
            {% for item in cats %}
                {% if item.category %}
            <li><button onclick="window.location.href = '/category/{{ item.pk }}'">{{ item.category }}</button></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</header>
<div class="media">
    {% for item in news %}
        <img src="{{ item.img_news.url }}" alt="" width="100">
    <div class="media-body">
        <p> {{ item.name }} </p>
        <p> {{ item.text }} </p>
        <p> {{ item.chance }} </p>
        <p> {{ item.date_published }} </p>
        <p> {{ item.category_news }} </p>
        <hr>
    {% endfor %}
    </div>
</div>